<template>
<div class="all_popular_movies_wrapper">

<div class="all_popular_movies">
<slide v-for="slide in items3" :slide.sync="slide"></slide>
</div>

<div class="universal_wrapper">
<h1 class="grid_title">New and Returning</h1>
<div class="all_popular_movies_grid">
<block v-for="block in items3" :block.sync="block"></block>
</div>
</div>
</div>


</template>

<script>

import slide from './slide.vue'
import block from './block.vue'

  export default {
  	name : 'shows',
  	props: ['items3'],
    components: {
     slide,
     block
    },
     created: function () {

    }
  };

</script>
